body {
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

header {
  display: flex;
  position: fixed;
  z-index: 1;
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  background-color: black;
  margin: auto;
}

.logo {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.logo img {
  display: flex;
  height: 50px;
  width: auto;
}

nav {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  align-items: center;
}

span {
  padding-right: 20px;
}
