body {
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

header {
  display: flex;
  position: fixed;
  z-index: 1;
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  background-color: black;
  margin: auto;
}

.logo {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.logo img {
  display: flex;
  height: 50px;
  width: auto;
}

nav {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  align-items: center;
}

span {
  padding-right: 20px;
}

.mission {
  display: flex;
  height: 700px;
  width: 1200px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  align-self: center;
  margin: auto;
}

.bar {
  display: inline-block;
  flex-direction: column;
  background-color: black;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 1200px;
}

.month {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-self: center;
  justify-content: center;
  width: 1000px;
  margin: auto;
}

.flavors img {
  width: 300px;
  height:200px;
  margin:auto;
  padding: 10px;
}

.flavors h4 {
  margin: auto;
  padding-bottom: 10px;
}

.locations {
  display: flex;
  height: 500px;
  width: 1200px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
  align-self: center;
  flex-direction: row;
  margin: auto;
  padding-top: 15px;
}

.address {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 300px;
  width: 300px;
  background-color: black;
  text-align: center;
  margin: auto;
}
